#backend
.env
datasets/*
model_training/*
backend/input/*
!backend/input/.gitkeep
output/*
models/*
training/*
!input/.gitkeep
!model_training/.gitkeep
!output/.gitkeep
!training/.gitkeep
backend/scripts/clips/*
!backend/scripts/clips/.gitkeep
backend/scripts/frames/*
!backend/scripts/frames/.gitkeep
backend/app/yolov5x.pt
backend/models/*
!backend/models/.gitkeep
backend/output/csv/*
!backend/output/csv/.gitkeep
backend/output/clips/*
!backend/output/clips/.gitkeep
backend/output/frames/*
!backend/output/frames/.gitkeep
backend/venv


# Frontend directories and files to ignore
frontend/node_modules/
frontend/dist/
frontend/.vit/
frontend/stats.html
frontend/public/
frontend/.eslintcache/
